@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,400;1,500;1,700&family=Zen+Kurenaido&display=swap');

.fs-54{
    font-size: 54pt;
    font-family: 'Zen Kurenaido', sans-serif;
}

.fs-18{
    font-size: 18pt;
    font-family: 'Zen Kurenaido', sans-serif;
}

.fundo-bg{
    background-color: #f1f1f1;
    font-family: 'Zen Kurenaido', sans-serif;
}

.card-columns{
    display:inline;
    border-radius: 20%;
    font-family: 'Zen Kurenaido', sans-serif;
}

.card{
    border-radius: 30px;
    padding: 0;
    font-family: 'Zen Kurenaido', sans-serif;
}
.font{
    font-family: 'Zen Kurenaido', sans-serif;
}